{% extends 'base.html' %}

<header>
  {% block header %}
  <script src='static/jquery.min.js'></script>
  
  {% endblock %}
</header>

<body>
  {% block content %}
  <main class="container">
    <div id="calculator">
      <div id="result">
        <div id="history">
          <p id="history-value" name="str_input"></p>
        
      </div>
        <div id="output">
          <p id="output-value"></p>
        </div>
      </div>

      <div id="keyboard">
        <button class="number" id="7" value="7" onclick="insert(value)">7</button>
        <button class="number" id="8" value="8" onclick="insert(value)">8</button>
        <button class="number" id="9" value="9" onclick="insert(value)">9</button>
        <button class="operator" id="/" onclick="insert('/')">&#247</button>
        <button class="operator" id="backspace" onclick="clean()">CE</button>
 
        <button class="number" id="4" onclick="insert('4')">4</button>
        <button class="number" id="5" onclick="insert('5')">5</button>
        <button class="number" id="6" onclick="insert('6')">6</button>
        <button class="operator" id="*"onclick ="insert('*')">&times;</button>
        <button class="operator" id="(" onclick ="insert('(')">(</button>

        <button class="number" id="1" onclick="insert('1')">1</button>
        <button class="number" id="2" onclick="insert('2')">2</button>
        <button class="number" id="3" onclick="insert('3')">3</button>
        <button class="operator" id="-" onclick ="insert('-')">-</button>
        <button class="operator" id=")" onclick = "insert(')')">)</button>
        
        <button class="number" id="0" onclick="insert('0')">0</button>
        <button class="operator" id=",">,</button>
        <button type='submit' class="operator" id="igual">=</button>
        <button class="operator" id="+" onclick ="insert('+')">+</button>
        <button type= "submit" class="operator" id="sqrt" >x^(1/n)</button>
      </div>
    </div>

  </main> 
  
  <div id="modal-raiz" class="modal-container">
    <div class="modal">
      <button class="fechar">x</button>
      <h3 class="tittle-raiz">Vamos calcular a raiz enésima</h3>
      <form>
        <input type="text" class="indice" placeholder="Insira o indice"id='indice'>
        <input type="text" class="radicando" placeholder="Insira o radicando" id='radicando'>
        <input type="button" value="Resolver" id="resolve_raiz" onclick="raiz()">
      </form>
      <p id="raiz-value" name="str_input"></p>
      <img id="img_raiz" src="../static/img/raiz.png"> 

    </div>
  </div>
  <script>

    function insert(num){            
      var numero = document.getElementById('history-value').innerHTML;
      document.getElementById('history-value').innerHTML = numero + num;      
    }

    function clean(){
      document.getElementById('history-value').innerHTML="";
    }

    function show(){
      modal.style.display = "flex"
    }

    function iniciaModal(modalID){
      const modal = document.getElementById(modalID);
      if(modal){
        modal.classList.add('mostrar');
        modal.addEventListener('click', (e) =>{
          if(e.target.className== 'fechar'){
            modal.classList.remove('mostrar')
          }
        })
      }      
    }
          
    var r_raiz = document.getElementById('resolve_raiz');
    var modal = document.getElementById('modal-raiz');

    function raiz(){
      var r_raiz = document.getElementById('resolve_raiz');
      var modal = document.getElementById('modal-raiz');


      indice_raiz = document.getElementById('indice')
      indicer = indice_raiz.value
      
      radicando_raiz = document.getElementById('radicando')
      radicandor=radicando_raiz.value
        
      data= indicer +","+radicandor
      document.getElementById('indice').value=""
      document.getElementById('radicando').value=""
      modal.classList.remove('mostrar')
   

      $.ajax({
        url: 'http://127.0.0.1:5002/api_gateway/calc_raiz?str_input='+data,
        dataType:'json',
        crossOrigin:true,
                
        complete: function(resposta){ 
          abc= resposta.responseJSON.resultado
          document.getElementById('history-value').innerHTML=abc.toFixed(2)              
        }
      });
    }
      
    const bt_raiz = document.getElementById('sqrt');
    
    bt_raiz.addEventListener('click',function(){
      iniciaModal('modal-raiz');
    });

    function createLog(body){
      console.log('body=', body);
      let url = 'http://127.0.0.1:5002/api_gateway/create-log';
      let request = new XMLHttpRequest();
      request.open('POST', url, true);
      request.setRequestHeader('Content-type', 'application/json');
      request.send(JSON.stringify(body));

      request.onload = function() {
        console.log(this.responseText);
      }

      return request.responseText;
    }
      
    $(document).ready(function(){
      result = document.getElementById('igual');
      dados = document.getElementById('history-value');
      res_raiz = document.getElementById('resolve_raiz'); 

      result.onclick = function(){
        data = document.getElementById('history-value').innerText;

        body = {
          'operation': data,
          'argument': data,
          'type_operation': 'Elementar',
          'date': '13/11/2021',
        }

        $.ajax({
          url: 'http://127.0.0.1:5002/api_gateway/calculate?str_input='+data,
          dataType: 'json',
          crossOrigin: true,
          success: function(resposta){
            document.getElementById('history-value').innerHTML=resposta.resultado               
          }  
        }); 
             
        createLog(body);
      }
    });
    </script> 
  {% endblock %}  
</body>
</html>
    