{% extends 'base.html' %}

<body>

  {% block content %}
  <main class="container">
    <table id="data-table">
      <thead>
        <tr>
          <th>Operação</th>
          <th>Argumentos</th>
          <th>Tipo de Operação</th>
          <th>Data</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="description">20 / (2 + 3)</td>
          <td class="description">-</td>
          <td class="description">Elementar</td>
          <td class="date">23/09/2021</td>
        </tr>

        <tr>
          <td class="description">20 / (2 + 3)</td>
          <td class="description">-</td>
          <td class="description">Elementar</td>
          <td class="date">23/09/2021</td>
        </tr>

        <tr>
          <td class="description">20 / (2 + 3)</td>
          <td class="description">-</td>
          <td class="description">Elementar</td>
          <td class="date">23/09/2021</td>
        </tr>
      </tbody>
    </table>
  </main>
  {% endblock %}
</body>

</html>

