{% extends 'base.html' %}

<header>
  {% block header %}
  <script src='static/jquery.min.js'></script>
  
  {% endblock %}
</header>

<body>
 
  {% block content %}
  <main class="container">
    <table id="data-table">
      
      <thead>
        <tr>
          <th>Operação</th>
          <th>Argumentos</th>
          <th>Tipo de Operação</th>
          <th>Data</th>
        </tr>
      </thead>

      <tbody>
        {% for log in logs %}
        <tr>
          <td class="description">{{log.operation}}</td>
          <td class="description">{{log.argument}}</td>
          <td class="description">{{log.type_operation}}</td>
          <td class="date">{{log.date}}</td>
        </tr>
        {% endfor %}
      </tbody>
      
    </table>
  </main>
  <script>
    function listLogs(url) {
      let request = new XMLHttpRequest()
      request.open('GET', url, false)
      request.send()
      return request.responseText
    }

    function createLine(log) {
      console.log(log);
      line = document.createElement('tr');
      tdOperation = document.createElement('td');
      tdArgument = document.createElement('td');
      tdTypeOperation = document.createElement('td');
      tdDate = document.createElement('td');

      tdOperation.innerHTML = log.operation;
      tdArgument.innerHTML = log.argument;
      tdTypeOperation.innerHTML = log.type_operation;
      tdDate.innerHTML = log.date;

      line.appendChild(tdOperation);
      line.appendChild(tdArgument);
      line.appendChild(tdTypeOperation);
      line.appendChild(tdDate);

      return line;
    }

    function main() {
      let data = listLogs('http://127.0.0.1:5002/api_gateway/logs');
      let logs = JSON.parse(data);
      let table = document.getElementById('data-table');

      logs.data.forEach(element => {
        let line = createLine(element);
        data-table.appendChild(line);
      })
    }

    main()

  </script>
  {% endblock %}
</body>

</html>

